.colors-proposals {
    &__list {
        max-height: 150px;
        overflow-y: auto;
        left: 0;
        top: 120%;
        width: 100%;
        position: absolute;
        background-color: #fff;
        border: 1px solid #101010;
        transition: opacity .3s ease-out;
        opacity: 1;
        &.hidden {
            opacity: 0;
            border: 0;
        }
    }
    &__info {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    &__color {
        padding: 5px 10px;
        text-transform: capitalize;
        cursor: pointer;
        transition: color .3s ease-out;
        &:hover {
            color: #6666ee;
        }
        &:nth-child(odd) {
            background-color: #f0f0f0;
        }
    }
    &__info {
        padding: 5px;
        box-sizing: border-box;
        background-color: #fff;
    }
}