.search-bar {
    position: relative;
    &__form {
        text-align: center;
    }
    &__input {
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid #101010;
        background-color: #fff;
        color: #101010;
        text-transform: capitalize;
    }
    &__btn {
        font-size: 16px;
        vertical-align: top;
        margin-left: 10px;
        background-color: #fff;
        border: 1px solid #101010;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color .3s ease-out;
        &:hover {
            background-color: #e0e0e0;
        }
    }
}