body {
    margin: 0;
    font-family: Verdana, sans-serif
}

ul {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.app-render-error {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}